<section class="content-main container">
      <div class="filters">
        <p><strong>Profile</strong>/ <%= current_user.name%></p>
      </div>
      <div class="row">
        <aside class="left-column span4">
          <header class="headerprofile">
            <h4 class="username"><%= current_user.name%></h4>
            <%= image_tag current_user.avatar_url, size:'100x100', class: "img-polaroid" %>
          </header>
            <div id="center-text">
            <p>
              <i class="icon-user icon-white"></i>&nbsp;
              <a href="<%= current_user.github_url %>" target="_blank">GitHub Profile</a>
              <br/>
              <i class="icon-home icon-white"></i>&nbsp;
              <a href="" target="_blank"><%= current_user.location %></a>
            </p>
            <ul class="unstyled stats">
              <li>
                <strong><%= current_user.followers %></strong>
                <span>Followers</span>
              </li>
              <li>
                <strong><%= current_user.following %></strong>
                <span>Following</span>
              </li>
              <li>
                <strong><%= current_user.public_gists %></strong>
                <span>Gists</span>
              </li>
              <li>
                <strong><%= current_user.public_repos %></strong>
                <span>Own Repos</span>
              </li>
              <li>
                <strong id="need-help"><%= @repos_needing_help %></strong>
                <span>Need Help</span>
              </li>
              <li>
                <strong><%= current_user.helped_repos.count %></strong>
                <span>Helping</span>
              </li>
            </ul>
            <div class="minimap">
               <%= image_tag MapUrlBuilder.user_map(current_user) %>
            </div>
            </div>
          </aside>

        <div class="center-column span8">
          <article>
            <header>
              <h3 class="repoh3">My Repos, Help Wanted?</h3>
            </header>
            <ul class="ul-clean user-repos">
              <%= render :partial => 'users/own_repo', collection: @own_repos %>
            </ul>
          </article>
          <article>
            <header>
              <h3 class="repoh3">I'm helping to:</h3>
            </header>
            <%- if current_user.helped_repos.any? %>
                <ul class="ul-clean user-repos">
                  <%= render :partial => 'users/helped_repo', collection: current_user.helped_repos %>
                </ul>
              <% else %>
                <h4>You're not helping anybody, share some love <%= link_to "here", user_wannahelp_index_path(current_user) %>.</h4>
              <% end %>
            <ul class="ul-clean user-repos">
              <li class="repo-entry">
                <img alt="Repo-icon" height="30" src="images/repo-icon.png" width="30" />
                <a href="" target="_blank">Repo Name</a>
                <button class="btn" type="button">Contrib</button>
              </li>
              <li class="repo-entry">
                <img alt="Repo-icon" height="30" src="images/repo-icon.png" width="30" />
                <a href="" target="_blank">Repo Name</a>
                <button class="btn" type="button">Contrib</button>
              </li>
              <li class="repo-entry">
                <img alt="Repo-icon" height="30" src="images/repo-icon.png" width="30" />
                <a href="" target="_blank">Repo Name</a>
                <button class="btn" type="button">Contrib</button>
              </li>
              <li class="repo-entry">
                <img alt="Repo-icon" height="30" src="images/repo-icon.png" width="30" />
                <a href="" target="_blank">Repo Name</a>
                <button class="btn" type="button">Contrib</button>
              </li>
              <li class="repo-entry">
                <img alt="Repo-icon" height="30" src="images/repo-icon.png" width="30" />
                <a href="" target="_blank">Repo Name</a>
                <button class="btn" type="button">Contrib</button>
              </li>
            </ul>
          </article>
        </div>
      </div>
    </section>